* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #3c3e4b;
    font-family: sans-serif;
    color: #cac9d0;
    overflow-x: hidden;
}

.container {
    margin: 4em auto;
    height: 80vh;
    width: 50vw;
    background: #323441;
    border-radius: 8px;
    border: solid 8px #454551;
}

.converter {
    display: inline-grid;
    justify-items: center;
    width: 100%;
    height: 90%;
}

.pounds {
    margin: auto;
}

.pounds:focus {
    outline: none;
}

#pounds {
    height: 2.5em;
    border-radius: 8px;
    border: none;
    padding: .8rem;
    background: #454551;
    color: #f0f0f0;
    font-weight: 300;
    font-size: 1.2rem;
}

#pounds:focus {
    outline: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button {
    cursor: pointer;
}

#calculate {
    border: none;
    height: 4rem;
    width: 6rem;
    background: #0be8fe;
    color: #353843;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
    font-weight: 600;
}

#calculate:hover {
    background: #16a8b8;
    color: #fff;
}

#reset {
    border: none;
    height: 4rem;
    width: 6rem;
    background: #c63efa;
    color: #353843;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s;
    font-weight: 600;
    margin-left: .5rem;
}

#reset:hover {
    background: #53346c;
    color: #f0f0f0;
}

#kilos {
    height: 2.5em;
    color: #5c7cff;
    margin-top: -4em;
    text-align: center;
    line-height: 2.5em;
    border-radius: 8px;
    font-weight: 600;
    font-size: 1.6em;
    letter-spacing: 1px;
}

.selection {
    height: 2.5em;
    width: 15rem;
    border-radius: 8px;
    border: none;
    padding: .8rem;
    margin-right: .5rem;
    background: #454551;
    color: #f0f0f0;
    font-size: 1.2rem;
    cursor: pointer;
}

.selection:focus {
    outline: none;
}

@media only screen and (max-width: 1070px) {
    .container {
        width: 95vw;
    }
}

::selection {
    background: rgba(39, 194, 240, 0.47);
}

::placeholder {
    color: #d3d2d2;
    font-weight: 300;
    font-size: 1rem;
    letter-spacing: 2px;
}
